@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Arima Madurai', cursive;
}

body {
    background: rgb(255, 209, 209);
    color: black;
    font-size: 16px;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/* BODY */
.header{
    background: #f1c3c3;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
}

/* NAVEGATION */
.container-fluid a img {
    border-radius: 65px;
    overflow: hidden;
}


/* SHOWCASE */
.showcase {
    width: 100%;
    height: 550px;
    background: url(./img/showcase1.jpg) no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: rgb(255, 209, 209);
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 0;
     background-image: linear-gradient(#f1c3c3, rgb(228, 222, 222)); 
}

.btn:hover {
    opacity: .8;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}

/* FOOTER */
.social {
    background: rgb(77, 71, 71);
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social p {
    align-items: center;
    padding-left: 20px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px black;
    width: 18%;
}

.links-social {
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.links-social a {
    margin: 0 30px;
    
}

 .links-social a:hover {
    margin: 0 30px;
    color: #f1c3c3;
    transition: 2s;
    
} 

.links-social img {
    height: 3rem;
    
}

/* CATALOGO */
.pics-catalogos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.pics-catalogos img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.pics-catalogos h4 {
    text-align: center;
}

.pics-catalogos h4:hover{
    text-decoration: underline;
}

.h1Catalogo{
    width: 12%;
    margin: auto;
    text-align: center;
    padding: 1px;
    text-decoration: underline;
    margin-bottom: 20px;
}

/* CONTACT */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 183, 183, 0.5);
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: 20px;
}

@media only screen and (max-width: 425px){
    .form{
        width: 90vw;
    }
}

.form h2{
    color: black;
    text-align: center;
    margin: 0;
    font-size: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.form input, textarea{
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    background: rgb(255, 217, 217);
}

.form textarea{
    min-height: 100px;
    max-height: 100px;
    max-width: 100%;
    min-width: 100%
}

#btn-form{
    background: rgb(255, 217, 217);
    padding: 7px;
    width: 30%;
}

#btn-form:hover {
    cursor: pointer;
}

/* UBICATION */
.main-ubicacion{
    width: 100%;
    height: 500px;
}

.div-ubicacion{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
}

.iframe-ubicacion{
    width: 90%;
    height: 400px;
}

/* ABOUT US */
.quienes-somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding-bottom: 20px;
}

.quienes-somos img{
    width: 100%;
    height: 400px;
}

.quienes-somos-box{
    border: solid 1px black;
    margin: 10px;
    border-radius: 20px;
    background: rgb(152, 210, 170);
    overflow: hidden;
    text-align: center;
}


.card-banner{
    width: 100%;
    background: url(./img/banner.jpg) no-repeat center center/cover;
    height: 350px;
    margin: 30px 0 20px 0;
}

.banner-content{
    width: 40%;
    padding: 90px 0 0 20px;
    color: black;
    font-size: 14px;
}

/* GRID */
.cards-main{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background: #f1c3c3;
}

.cards-main img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.cards-main h3 {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

.cards-main p {
    text-align: center;
}