/* UBICATION */
.main-ubicacion{
    width: 100%;
    height: 500px;
}

.div-ubicacion{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
}

.iframe-ubicacion{
    width: 90%;
    height: 500px;
    @media only screen and (max-width: 1024px){
        height: 300px;
    }
}